div{
    width: 800px;
    height: 500px;
    background: url("https://img.freepik.com/free-photo/beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.jpg?w=2000");
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}