h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 10px 100px 5px;
    font-size: 40px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border-radius: 20px;
    color: rgb(83, 42, 165);
    border-color: cadetblue;
}
#nan{
    border: 2px solid yellow;
    width: 500px;
    box-shadow: 00px 0px 20px;
}
#rex{
    border: 2px solid rgb(34, 34, 1);
    height: 450px;
    width: 600px;
}