nav>h1:hover{
    background-color: aquamarine;
    color: blueviolet;
}
nav>img{
    border: 1px solid black;
    width: 400px;
    height: 300px;
    text-align: center;
}
nav:hover{
    background-color: purple;
}